body {
  font-family: "Work Sans";
}

.page {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  min-width: 320px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.site-nav-title {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #637988;
  font-weight: 400;
  margin: 0;
}

.list-item {
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
}

.list-item:hover,
.list-item:focus {
  color: #10cab7;
}

.big-title {
  font-size: 70px;
  letter-spacing: -8px;
  line-height: 80px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .big-title {
    font-size: 150px;
    line-height: 150px;
  }
}

@media screen and (min-width: 1170px) {
  .big-title {
    font-size: 162px;
    line-height: 195px;
  }
}

.main-section-title {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.description-title {
  font-size: 20px;
  line-height: 67px;
  color: #1f2021;
  font-weight: 800;
  margin: 0;
}

.description-text {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #4d4c4c;
  font-weight: 400;
  margin: 0;
}

/*=============== header ==============*/
.header.container {
  max-width: 320px;
  margin: 0 auto;
}

.header {
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav-wraper {
  position: relative;
}

.menu-button {
  border: 0px;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.site-nav {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 290px;
  height: 100vh;
  background-color: #2c4755;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 30px;
  overflow: scroll;
}

.close-button {
  border: 0px;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 19px;
  height: 19px;
  margin-bottom: 27px;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 59px;
}

.contacts-item {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 44px;
}

.social-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 200px;
}

.social-list-link {
  font-size: 21px;
}

.web-title {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #637988;
  font-weight: 400;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 768px) {
  .header.container {
    max-width: 768px;
  }
  .site-nav {
    width: 345px;
    height: 1065px;
    padding-top: 33px;
    padding-left: 60px;
    padding-bottom: 60px;
  }
  .social-list {
    margin-bottom: 500px;
  }
}

@media screen and (min-width: 1170px) {
  .header.container {
    max-width: 1170px;
  }
  .site-nav {
    width: 545px;
  }
}

/*=============== hello ==============*/
.hello.container {
  max-width: 1920px;
}

.hello {
  height: 459px;
  padding-top: 50px;
  background-color: #f6f6f6;
  margin: 0 auto;
}

.main-title {
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 67px;
  margin-top: 0px;
  margin-bottom: 62px;
  color: #10cab7;
  font-weight: 800;
  text-align: center;
}

.hello-descr {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 32px;
  margin: 0px;
  color: #2c4755;
  font-weight: 400;
  text-align: center;
}

/*=============== work ==============*/
.work.container {
  max-width: 1920px;
}

.work {
  margin: 0 auto;
}

.work-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 300px;
}

.wokr-list-title {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 67px;
  color: #2c4755;
  font-weight: 800;
  margin: 0;
}

.work-descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #575757;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 269px;
  height: 75px;
  margin: 0;
}

.lamp-img {
  width: 71px;
  height: 72px;
}

.bottle-img {
  width: 61px;
  height: 77px;
}

.globe-img {
  width: 64px;
  height: 73px;
}

@media screen and (min-width: 768px) {
  .work-list-item {
    width: 640px;
  }
}

@media screen and (min-width: 1170px) {
  .work {
    width: 1170px;
  }
  .work-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work-list-item {
    height: 400px;
  }
}

/*=============== services ==============*/
.services.container {
  max-width: 320px;
}

.services {
  padding-top: 70px;
  padding-bottom: 106px;
  margin: 0 auto;
}

.services-container {
  position: relative;
  padding-top: 80px;
}

.sv-tittle-position {
  position: absolute;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
}

.sv-tittle {
  color: #f6f6f6;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.sevices-list-item {
  margin-bottom: 20px;
}

.before-print::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 37px;
  background-image: url(../../images/services/print.png);
  margin-right: 20px;
}

.before-file::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 37px;
  background-image: url(../../images/services/file.png);
  margin-right: 20px;
}

.before-mesage::before {
  content: "";
  display: inline-block;
  width: 39px;
  height: 36px;
  background-image: url(../../images/services/mesage.png);
  margin-right: 20px;
}

.before-monic::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 31px;
  background-image: url(../../images/services/monic.png);
  margin-right: 20px;
}

.services-img {
  width: 300px;
  height: 330px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .services.container {
    max-width: 768px;
  }
  .services {
    padding-top: 70px;
    padding-bottom: 106px;
  }
  .services-container {
    padding-top: 100px;
  }
  .sv-tittle-position {
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: -1;
  }
  .services-wraper {
    background-image: url(../images/services/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 102px 400px;
  }
  .services-list {
    margin-bottom: 60px;
  }
  .sevices-list-item {
    margin-right: 20px;
    width: 340px;
  }
  .services-img {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 400px;
  }
}

@media screen and (min-width: 1170px) {
  .services.container {
    max-width: 1170px;
  }
  .services-container {
    height: 656px;
    padding-top: 120px;
  }
  .services-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../images/services/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 102px 436px;
  }
  .services-list {
    margin: 0;
  }
  .services-img {
    margin-left: 0;
    margin-top: 20px;
  }
}

/*================portfolio==============*/
.portfolio.container {
  max-width: 1920px;
}

.portfolio {
  position: relative;
  background-color: #fafafa;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.pf-tittle-position {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 0;
}

.pf-title {
  color: #ebeced;
}

.portfolio-wraper {
  position: relative;
  padding-top: 70px;
  z-index: 5;
}

.portfolio-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-list-item {
  background-color: #ffffff;
  width: 300px;
  height: 450px;
}

.portfolio-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.portfolio-img {
  width: 100%;
  height: 300px;
}

.pf-list-title {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.pf-list-descr {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .pf-tittle-position {
    top: 3%;
  }
  .portfolio-wraper {
    padding-top: 55px;
  }
  .portfolio-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portfolio-list-item {
    width: 250px;
    height: 450px;
  }
  .portfolio-list-item:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1170px) {
  .portfolio {
    height: 975px;
    padding-top: 76px;
  }
  .portfolio-wraper {
    padding-top: 80px;
  }
  .portfolio-list-item {
    width: 350px;
    height: 502px;
  }
  .portfolio-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

/*=============about===============*/
.about.container {
  max-width: 320px;
}

.about {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 71px;
}

.about-container {
  position: relative;
  width: 320px;
  padding-top: 55px;
}

.ab-tittle-position {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
}

.ab-tittle {
  color: #f6f6f6;
}

.about-img {
  width: 310px;
  margin-bottom: 20px;
}

.about-descr-container {
  width: 300px;
  margin: 0 auto;
}

.about-title-descr {
  font-size: 20px;
  line-height: 40px;
  color: #334752;
  font-weight: 800;
  margin: 0;
}

.about-title-descr::after {
  content: " ";
  display: inline-block;
  width: 270px;
  height: 2px;
  background-color: #10cab7;
}

.about-descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #575757;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .about.container {
    max-width: 768px;
  }
  .about-container {
    width: 768px;
    padding-top: 100px;
    background-image: url(../images/about/grey-bg-about.png), url(../images/about/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: left 0 bottom 0, left 230px bottom 150px;
    background-size: 111px 454px, 170px 293px;
  }
  .ab-tittle-position {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: -1;
  }
  .about-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-img {
    width: 301px;
    height: 331px;
    margin-top: 50px;
  }
  .about-descr-container {
    width: 350px;
    margin: 0;
  }
}

@media screen and (min-width: 1170px) {
  .about.container {
    max-width: 1170px;
  }
  .about {
    padding-top: 92px;
  }
  .about-container {
    width: 1170px;
    height: 659px;
    padding-top: 120px;
    background-image: url(../images/about/grey-bg-about.png), url(../images/about/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: left 0 bottom 60px, left 258px bottom 187px;
    background-size: 111px 454px, 190px 293px;
  }
  .about-title {
    margin-bottom: 159px;
  }
  .about-img {
    width: 301px;
    height: 331px;
    margin-top: 0;
  }
  .about-descr-container {
    width: 565px;
    height: 298px;
  }
}

/*============contact============*/
.contact.container {
  max-width: 1920px;
}

.contact {
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.cn-tittle-position {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 0;
}

.cn-title {
  color: #ebeced;
}

.contact-container.container {
  max-width: 320px;
  margin: 0 auto;
}

.contact-container {
  z-index: 1;
  position: relative;
}

.contact-text {
  font-size: 25px;
  letter-spacing: -3px;
  line-height: 40px;
  color: #2c4755;
  font-weight: 800;
  margin: 0;
}

.contact-link {
  display: inline-block;
  font-size: 25px;
  letter-spacing: -2px;
  line-height: 40px;
  color: #10cab7;
  font-weight: 800;
  margin-bottom: 56px;
}

.contact-list-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-caption {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #334752;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 46px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list-item:not(:last-child) {
  margin-right: 29px;
}

.fa {
  color: #2c4755;
}

.fa:hover,
.fa:focus {
  color: #10cab7;
}

@media screen and (min-width: 768px) {
  .contact-container.container {
    max-width: 768px;
  }
  .cn-tittle-position {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 0;
  }
  .contact-container {
    padding-top: 60px;
    z-index: 1;
    position: relative;
  }
  .contact-title {
    margin-bottom: 151px;
  }
  .contact-text {
    font-size: 55px;
    letter-spacing: -3px;
    line-height: 67px;
    color: #2c4755;
    font-weight: 800;
    margin: 0;
  }
  .contact-link {
    display: inline-block;
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 67px;
    color: #10cab7;
    font-weight: 800;
    margin-left: 45px;
    margin-bottom: 56px;
  }
  .contact-list-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-caption {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 27px;
    color: #334752;
    font-weight: 400;
    margin-left: 106px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 46px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contact-list-item:not(:last-child) {
    margin-right: 29px;
  }
  .contact-link-img-dribble {
    width: 22px;
    height: 21px;
  }
  .contact-link-img-google {
    width: 22px;
    height: 19px;
  }
  .contact-link-img-twitter {
    width: 22px;
    height: 17px;
  }
}

@media screen and (min-width: 1170px) {
  .contact-container.container {
    max-width: 1170px;
  }
  .contact-container {
    padding-top: 90px;
  }
}

/*================footer===============*/
.footer.container {
  max-width: 1920px;
}

.footer {
  height: 50px;
  background-color: #2c4755;
  padding-top: 44px;
  margin: 0 auto;
}

.footer-title {
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.footer-title-accent {
  font-size: 15px;
  line-height: 27px;
  color: #10cab7;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 103px;
  }
}

@media screen and (min-width: 1170px) {
  .footer {
    height: 103px;
  }
}
/*# sourceMappingURL=main.css.map */