body {
  font-family: "Work Sans";
}

.page {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*=============== header ==============*/

.header {
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav-wraper {
  position: relative;
}

.site-nav-wraper:hover .site-nav {
  opacity: 1;
}

.menu-button {
  border: 0px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.site-nav {
  opacity: 0;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2c4755;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 30px;
  overflow: scroll;
}

.close-button {
  border: 0px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  font: inherit;
  color: inherit;
  background-color: transparent;
  width: 19px;
  height: 19px;
  margin-bottom: 27px;
}

.site-nav-title {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #637988;
  font-weight: 400;
  margin: 0;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 59px;
}

.site-list-item:hover,
.site-list-item:focus {
  color: #10cab7;
}

.contacts-item {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 44px;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #10cab7;
}

.social-list {
  font-size: 21px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 400;
  padding: 0;
  margin-top: 0;
  margin-bottom: 200px;
}

.social-list-item:hover,
.social-list-item:focus {
  color: #10cab7;
}

.web-title {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #637988;
  font-weight: 400;
}

/*=============== hello ==============*/

.hello {
  width: 320px;
  height: 459px;
  padding-top: 50px;
  background-color: #f6f6f6;
  margin: 0 auto;
}
.main-title {
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 67px;
  margin-top: 0px;
  margin-bottom: 62px;
  color: #10cab7;
  font-weight: 800;
  text-align: center;
}

.hello-descr {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 32px;
  margin: 0px;
  color: #2c4755;
  font-weight: 400;
  text-align: center;
}

/*=============== work ==============*/

.work {
  width: 320px;
  margin: 0 auto;
}

.work-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 300px;
}

.wokr-list-title {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 67px;
  color: #2c4755;
  font-weight: 800;
  margin: 0;
}

.work-descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #575757;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 269px;
  height: 75px;
  margin: 0;
}

.lamp-img {
  width: 71px;
  height: 72px;
}

.bottle-img {
  width: 61px;
  height: 77px;
}

.globe-img {
  width: 64px;
  height: 73px;
}

/*=============== services ==============*/

.services {
  padding-top: 70px;
  padding-bottom: 106px;
  width: 320px;
  margin: 0 auto;
}

.services-container {
  position: relative;
  padding-top: 80px;
}

.services-tittle {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}

.sv-tittle-position {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.sv-tittle {
  font-size: 70px;
  letter-spacing: -8px;
  line-height: 80px;
  color: #f6f6f6;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.services-wraper {
  width: 320px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.sevices-list-item {
  margin-bottom: 20px;
}

.sevices-list-title {
  font-size: 20px;
  line-height: 67px;
  color: #1f2021;
  font-weight: 800;
  margin: 0;
}

.before-print::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 37px;
  background-image: url(/images/services/print.png);
  margin-right: 20px;
}

.before-file::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 37px;
  background-image: url(/images/services/file.png);
  margin-right: 20px;
}

.before-mesage::before {
  content: "";
  display: inline-block;
  width: 39px;
  height: 36px;
  background-image: url(/images/services/mesage.png);
  margin-right: 20px;
}

.before-monic::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 31px;
  background-image: url(/images/services/monic.png);
  margin-right: 20px;
}

.services-list-descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #4d4c4c;
  font-weight: 400;
  margin: 0;
}

.services-img {
  width: 300px;
  height: 330px;
  margin-top: 30px;
}
/*================portfolio==============*/

.portfolio {
  position: relative;
  width: 320px;
  background-color: #fafafa;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.pf-tittle-position {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.pf-tittle {
  font-size: 70px;
  letter-spacing: -8px;
  line-height: 90px;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
}

.portfolio-wraper {
  position: relative;
  padding-top: 70px;
  z-index: 5;
}

.portfolio-title {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.portfolio-list {
  margin: 0;
  padding: 0;
}

.portfolio-list-item {
  background-color: #ffffff;
  width: 300px;
  height: 450px;
}

.portfolio-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.portfolio-img {
  width: 100%;
  height: 300px;
}

.portfolio-list-title {
  font-size: 20px;
  line-height: 67px;
  color: #1f2021;
  font-weight: 800;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-list-descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #4d4c4c;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*=============about===============*/

.about {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 71px;
}

.about-container {
  position: relative;
  width: 320px;
  padding-top: 55px;
}

.ab-tittle-position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.ab-tittle {
  font-size: 70px;
  letter-spacing: -8px;
  line-height: 90px;
  color: #f6f6f6;
  font-weight: 800;
  margin: 0;
}

.about-title {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0;
}

.about-img {
  width: 310px;
  margin-bottom: 20px;
}

.about-descr-container {
  width: 300px;
  margin: 0 auto;
}

.about-title-descr {
  font-size: 20px;
  line-height: 40px;
  color: #334752;
  font-weight: 800;
  margin: 0;
}

.about-title-descr::after {
  content: " ";
  display: inline-block;
  width: 270px;
  height: 2px;
  background-color: #10cab7;
}

.about-descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #575757;
  font-weight: 400;
  margin: 0;
}

/*============contact============*/

/* .contact {
  height: 720px;
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 88px;
  position: relative;
}

.cn-tittle {
  font-size: 162px;
  letter-spacing: -8px;
  line-height: 195px;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.cn-tittle-position {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.contact-container {
  padding-top: 90px;
  z-index: 1;
  position: relative;
}

.contact-title {
  text-align: center;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  margin-bottom: 151px;
  margin-top: 0;
}

.contact-text {
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 67px;
  color: #2c4755;
  font-weight: 800;
  margin: 0;
}

.contact-link {
  display: inline-block;
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 67px;
  color: #10cab7;
  font-weight: 800;
  margin-left: 45px;
  margin-bottom: 56px;
}

.contact-list-wraper {
  display: flex;
  align-items: center;
}

.contact-caption {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #334752;
  font-weight: 400;
  margin-left: 106px;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: 46px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list-item:not(:last-child) {
  margin-right: 29px;
}

.contact-link-img-dribble {
  width: 22px;
  height: 21px;
}

.contact-link-img-google {
  width: 22px;
  height: 19px;
}
.contact-link-img-twitter {
  width: 22px;
  height: 17px;
} */

/*================footer===============*/

/* .footer {
  height: 101px;
  background-color: #2c4755;
  padding-top: 44px;
}

.footer-title {
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.footer-title-accent {
  font-size: 15px;
  line-height: 27px;
  color: #10cab7;
  font-weight: 800;
} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header {
    width: 768px;
  }

  .site-nav {
    width: 345px;
    height: 1065px;
    padding-top: 33px;
    padding-left: 60px;
    padding-bottom: 60px;
  }
  .social-list {
    margin-bottom: 500px;
  }

  .hello {
    width: 768px;
  }

  .work {
    width: 768px;
  }

  .work-list-item {
    width: 640px;
  }

  .services {
    width: 768px;
    padding-top: 70px;
    padding-bottom: 106px;
  }

  .services-container {
    padding-top: 100px;
  }

  .sv-tittle-position {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }

  .sv-tittle {
    font-size: 150px;
    line-height: 150px;
  }

  .services-wraper {
    width: 768px;
    background-image: url(../images/services/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 102px 400px;
  }

  .services-list {
    margin-bottom: 60px;
  }

  .sevices-list-item {
    margin-right: 20px;
    width: 340px;
  }

  .services-img {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 400px;
  }

  .portfolio {
    width: 768px;
  }

  .pf-tittle-position {
    top: 3%;
  }

  .pf-tittle {
    font-size: 150px;
    line-height: 150px;
  }

  .portfolio-wraper {
    padding-top: 55px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .portfolio-list-item {
    width: 250px;
    height: 450px;
  }

  .portfolio-list-item:not(:last-child) {
    margin-right: 15px;
  }

  .about {
    max-width: 768px;
  }

  .about-container {
    width: 768px;
    padding-top: 100px;
    background-image: url(../images/about/grey-bg-about.png),
      url(../images/about/green-bg-img.png);

    background-repeat: no-repeat;
    background-position: left 0 bottom 0, left 230px bottom 150px;
    background-size: 111px 454px, 170px 293px;
  }

  .ab-tittle-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }

  .ab-tittle {
    font-size: 150px;
    line-height: 150px;
  }

  .about-wraper {
    display: flex;
    justify-content: space-between;
  }

  .about-img {
    width: 301px;
    height: 331px;
    margin-top: 50px;
  }

  .about-descr-container {
    width: 350px;
    margin: 0;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }

  .header {
    width: 1065px;
    padding-left: 14px;
    padding-right: 101px;
  }

  .site-nav {
    width: 545px;
  }

  .hello {
    width: 1170px;
  }

  .work {
    width: 1170px;
  }

  .work-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .work-list-item {
    height: 400px;
  }

  .services {
    width: 1170px;
  }

  .services-container {
    height: 656px;
  }

  .services-wraper {
    display: flex;
    width: 1170px;
    background-image: url(../images/services/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 102px 436px;
  }

  .services-list {
    margin: 0;
  }

  .services-img {
    margin-left: 0;
    margin-top: 20px;
  }

  .portfolio {
    height: 975px;
    width: 1170px;
    padding-top: 76px;
  }

  .portfolio-list-item {
    width: 350px;
    height: 502px;
  }

  .portfolio-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .about {
    max-width: 1170px;
    padding-top: 92px;
  }

  .about-container {
    width: 1170px;
    height: 659px;
    padding-top: 120px;

    background-image: url(../images/about/grey-bg-about.png),
      url(../images/about/green-bg-img.png);

    background-repeat: no-repeat;
    background-position: left 0 bottom 60px, left 258px bottom 187px;
    background-size: 111px 454px, 190px 293px;
  }

  .ab-tittle {
    font-size: 162px;
    line-height: 195px;
  }

  .about-title {
    margin-bottom: 159px;
  }

  .about-wraper {
    width: 1170px;
  }

  .about-img {
    width: 301px;
    height: 331px;
    margin-top: 0;
  }

  .about-descr-container {
    width: 565px;
    height: 298px;
  }
}
/* 
@media screen and (min-width: 1500px) {
  .hello {
    max-width: 1920px;
  }
  .work {
    max-width: 1920px;
  }
} */
