@import "./base/base";
@import "./variables//variables";
@import "./components/site-nav-title";
@import "./components/nav-list-item";
@import "./components/big-title";
@import "./components/main-section-title";
@import "./components/description-title";
@import "./components/description-text";
@import "./layout/header";
@import "./layout/hello";
@import "./layout/work";
@import "./layout/services";
@import "./layout/portfolio";
@import "./layout/about";
@import "./layout/contact";
@import "./layout/footer";
