/*============contact============*/

.contact.container {
  max-width: 1920px;
}

.contact {
  background-color: $secondary-background-color;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;

  &__container {
    z-index: 1;
    position: relative;
  }
  &__text {
    font-size: 25px;
    letter-spacing: -3px;
    line-height: 40px;
    color: $dark-green-bockground-color;
    font-weight: 800;
    margin: 0;
  }

  &__link {
    display: inline-block;
    font-size: 25px;
    letter-spacing: -2px;
    line-height: 40px;
    color: $accent-color;
    font-weight: 800;
    margin-bottom: 56px;
  }
}

.cn__tittle__position {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.cn__title {
  color: $big-title-secondary-color;
}

.contact__container.container {
  max-width: 320px;
  margin: 0 auto;
}

.contact__list__wrapper {
  display: flex;
  align-items: center;
}

.contact__caption {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: $secondary-discription-text-color;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: 46px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  &__item:not(:last-child) {
    margin-right: 29px;
  }
}

.fa {
  color: $dark-green-bockground-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .contact__container.container {
    max-width: 768px;
  }

  .cn__tittle__position {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
  }

  .contact__container {
    padding-top: 60px;
    z-index: 1;
    position: relative;
  }

  .contact__title {
    margin-bottom: 151px;
  }

  .contact__text {
    font-size: 55px;
    letter-spacing: -3px;
    line-height: 67px;
    color: $dark-green-bockground-color;
    font-weight: 800;
    margin: 0;
  }

  .contact__link {
    display: inline-block;
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 67px;
    color: $accent-color;
    font-weight: 800;
    margin-left: 45px;
    margin-bottom: 56px;
  }

  .contact__list__wrapper {
    display: flex;
    align-items: center;
  }

  .contact__caption {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 27px;
    color: $secondary-discription-text-color;
    font-weight: 400;
    margin-left: 106px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact__list {
    display: flex;
    align-items: center;
    margin-left: 46px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    &__item:not(:last-child) {
      margin-right: 29px;
    }
  }

  .contact-link-img-dribble {
    width: 22px;
    height: 21px;
  }

  .contact-link-img-google {
    width: 22px;
    height: 19px;
  }
  
  .contact-link-img-twitter {
    width: 22px;
    height: 17px;
  }
}

@media screen and (min-width: 1170px) {
  .contact__container.container {
    max-width: 1170px;
  }

  .contact__container {
    padding-top: 90px;
  }
}
