/*============contact============*/

.contact.container {
  max-width: 1920px;
}

.contact {
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.cn-tittle-position {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.cn-tittle {
  font-size: 70px;
  letter-spacing: -8px;
  line-height: 80px;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.contact-container.container {
  max-width: 320px;
}

.contact-container {
  z-index: 1;
  position: relative;
}

.contact-title {
  text-align: center;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: #575757;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 0;
}

.contact-text {
  font-size: 25px;
  letter-spacing: -3px;
  line-height: 40px;
  color: #2c4755;
  font-weight: 800;
  margin: 0;
}

.contact-link {
  display: inline-block;
  font-size: 25px;
  letter-spacing: -2px;
  line-height: 40px;
  color: #10cab7;
  font-weight: 800;
  margin-bottom: 56px;
}

.contact-list-wraper {
  display: flex;
  align-items: center;
}

.contact-caption {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 27px;
  color: #334752;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: 46px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list-item:not(:last-child) {
  margin-right: 29px;
}

.fa {
  color: #2c4755;
}

.fa:hover,
.fa:focus {
  color: #10cab7;
}

@media screen and (min-width: 768px) {
  .contact-container.container {
    max-width: 768px;
  }

  .cn-tittle {
    font-size: 162px;
    letter-spacing: -8px;
    line-height: 195px;
    color: #ebeced;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }

  .cn-tittle-position {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
  }

  .contact-container {
    padding-top: 90px;
    z-index: 1;
    position: relative;
  }

  .contact-title {
    text-align: center;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 35px;
    color: #575757;
    font-weight: 400;
    margin-bottom: 151px;
    margin-top: 0;
  }

  .contact-text {
    font-size: 55px;
    letter-spacing: -3px;
    line-height: 67px;
    color: #2c4755;
    font-weight: 800;
    margin: 0;
  }

  .contact-link {
    display: inline-block;
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 67px;
    color: #10cab7;
    font-weight: 800;
    margin-left: 45px;
    margin-bottom: 56px;
  }

  .contact-list-wraper {
    display: flex;
    align-items: center;
  }

  .contact-caption {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 27px;
    color: #334752;
    font-weight: 400;
    margin-left: 106px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-list {
    display: flex;
    align-items: center;
    margin-left: 46px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-list-item:not(:last-child) {
    margin-right: 29px;
  }

  .contact-link-img-dribble {
    width: 22px;
    height: 21px;
  }

  .contact-link-img-google {
    width: 22px;
    height: 19px;
  }
  .contact-link-img-twitter {
    width: 22px;
    height: 17px;
  }
}

@media screen and (min-width: 1170px) {
  .contact-container.container {
    max-width: 1170px;
  }
}
