/*================footer===============*/

.footer.container {
  max-width: 1920px;
}

.footer {
  height: 50px;
  background-color: #2c4755;
  padding-top: 44px;
  margin: 0 auto;
}

.footer-title {
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.footer-title-accent {
  font-size: 15px;
  line-height: 27px;
  color: #10cab7;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 103px;
  }
}

@media screen and (min-width: 1170px) {
  .footer {
    height: 103px;
  }
}
