/*================portfolio==============*/

.portfolio.container {
  max-width: 1920px;
}

.portfolio {
  position: relative;
  background-color: $secondary-background-color;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.pf__tittle__position {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
}

.pf__title {
  color: $big-title-secondary-color;
}

.portfolio__wraper {
  position: relative;
  padding-top: 70px;
  z-index: 5;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__list__item {
  background-color: $main-background-color;
  width: 300px;
  height: 450px;
}

.portfolio__list__item:not(:last-child) {
  margin-bottom: 20px;
}

.portfolio-img {
  width: 100%;
  height: 300px;
}

.pf__list__title {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.pf__list__descr {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .pf__tittle__position {
    top: 3%;
  }

  .portfolio__wraper {
    padding-top: 55px;
  }

  .portfolio__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .portfolio__list__item {
    width: 250px;
    height: 450px;
  }

  .portfolio__list__item:not(:last-child) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1170px) {
  .portfolio {
    height: 975px;
    padding-top: 76px;
  }

  .portfolio__wraper {
    padding-top: 80px;
  }

  .portfolio__list__item {
    width: 350px;
    height: 502px;
  }

  .portfolio__list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
