/*=============== services ==============*/

.services.container {
  max-width: 320px;
}

.services {
  padding-top: 70px;
  padding-bottom: 106px;
  margin: 0 auto;
}

.services-container {
  position: relative;
  padding-top: 80px;
}

.sv-tittle-position {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.sv-tittle {
  color: $big-title-main-color;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.sevices-list-item {
  margin-bottom: 20px;
}

.before-print::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 37px;
  background-image: url(../../images/services/print.png);
  margin-right: 20px;
}

.before-file::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 37px;
  background-image: url(../../images/services/file.png);
  margin-right: 20px;
}

.before-mesage::before {
  content: "";
  display: inline-block;
  width: 39px;
  height: 36px;
  background-image: url(../../images/services/mesage.png);
  margin-right: 20px;
}

.before-monic::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 31px;
  background-image: url(../../images/services/monic.png);
  margin-right: 20px;
}

.services-img {
  width: 300px;
  height: 330px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .services.container {
    max-width: 768px;
  }

  .services {
    padding-top: 70px;
    padding-bottom: 106px;
  }

  .services-container {
    padding-top: 100px;
  }

  .sv-tittle-position {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }

  .services-wraper {
    background-image: url(../images/services/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 102px 400px;
  }

  .services-list {
    margin-bottom: 60px;
  }

  .sevices-list-item {
    margin-right: 20px;
    width: 340px;
  }

  .services-img {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 400px;
  }
}

@media screen and (min-width: 1170px) {
  .services.container {
    max-width: 1170px;
  }

  .services-container {
    height: 656px;
    padding-top: 120px;
  }

  .services-wraper {
    display: flex;
    background-image: url(../images/services/green-bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 102px 436px;
  }

  .services-list {
    margin: 0;
  }

  .services-img {
    margin-left: 0;
    margin-top: 20px;
  }
}
