/*=============== work ==============*/

.work.container {
  max-width: 1920px;
}

.work {
  margin: 0 auto;
}

.work__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work__list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 300px;
}

.wokr__list__title {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 67px;
  color: $dark-green-bockground-color;
  font-weight: 800;
  margin: 0;
}

.work__descr {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 32px;
  color: $section-title-color;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 269px;
  height: 75px;
  margin: 0;
}

.work__lamp__img {
  width: 71px;
  height: 72px;
}

.work__bottle__img {
  width: 61px;
  height: 77px;
}

.work__globe__img {
  width: 64px;
  height: 73px;
}

@media screen and (min-width: 768px) {
  .work__list__item {
    width: 640px;
  }
}

@media screen and (min-width: 1170px) {
  .work {
    width: 1170px;
  }

  .work__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .work__list__item {
    height: 400px;
  }
}
