.big__title {
  font-size: 70px;
  letter-spacing: -8px;
  line-height: 80px;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .big__title {
    font-size: 150px;
    line-height: 150px;
  }
}

@media screen and (min-width: 1170px) {
  .big__title {
    font-size: 162px;
    line-height: 195px;
  }
}
