.main-section-title {
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 35px;
  color: $section-title-color;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}
