.nav__list__link {
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 35px;
  color: $main-background-color;
  font-weight: 400;
}
.nav__list__link:hover{
  color: $accent-color;
}

.nav__list__link:focus {
  color: $accent-color;
}
