$main-background-color: #ffffff;
$secondary-background-color: #fafafa;
$accent-color: #10cab7;
$big-title-main-color: #f6f6f6;
$big-title-secondary-color: #ebeced;
$section-title-color: #575757;
$dark-green-bockground-color: #2c4755;
$description-title-color: #1f2021;
$description-text-color: #4d4c4c;
$secondary-discription-text-color: #334752;
$site-nav-title: #637988;
